/* 
    Created on : 05.01.2015, 10:27:18
    Author     : antonepple
*/

/* Style guide:
This CSS file is organized according to the following rules.
If you modify the file, please stick to these rules!
(A) Organizing files
In general, modularization is good. Files can be combined to a single file using 
a script.
1. Create a separate file for each template (= "subpage"). This template contains 
styles specific to the template. 
2. Create a separate file for resets.
3. Don't create separate files for specific aspects like animations, typography, ...


(B) Organizing selectors
Don't use indentation. Some people do use it to beautify their code.
I find it hard to set up easy rules for indentration.
1. universal rules (*)
2. Document (html)
3. Meta (head, title, base)
4. Structure (body, header, footer, nav, aside, main, article...)
5. Headings (h1,...)
6. Lists (ul, ol, li, menu,...)
7. Media (Canvas, Object, audio,..)
8. Forms (form, fieldset, legend, label, input, button...)
9. Tables
10. Phrasing (strong, a, i, u, )
11. Misc
12. Animations

(C) Organizing rules and properties inside a selector:
1. Rules are organized into the four semantic sections layout, typography, 
style, animation.
2. No shorthand is used if it would mix style and layout:
E.g. don't do this: 'border-bottom: 1px solid #e6e6e6'
Instead:
    <in layout section:>
    border-bottom-width: 1px;

    <in style section:>
    border-bottom-style: solid;
    border-bottom-color: #e6e6e6;
3. Inside these sections Rules are sorted alphabetically by Property name.

(D) Comments
I tend to comment a lot, as I'm still learning, and it helps me to remember why
I did something. Please add a comment, whenever you fix something, including your
Email address so others can ask yor clarification.

(E) Resources
Don't download resources. The links might get outdated, sites might be offline,
and most important, the user might be offline. This is an app, so it will also 
improve performance to package resources.
*/

/*******************************************************************************
* 1. universal rules (*)
*******************************************************************************/

/*******************************************************************************
* 2. Document (html)
*******************************************************************************/

/*******************************************************************************
* 3. Meta (head, title, base)
*******************************************************************************/

/*******************************************************************************
* 4. Structure (body, header, footer, nav, aside, main, article...)
*******************************************************************************/

body {
    background: #A8A8A8; 
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

/*******************************************************************************
* 5. Headings (h1,...)
*******************************************************************************/

/*******************************************************************************
* 6. Lists (ul, ol, li, menu,...)
*******************************************************************************/

/*******************************************************************************
* 7. Media (Canvas, Object, audio,..)
*******************************************************************************/

/*******************************************************************************
* 8. Forms (form, fieldset, legend, label, input, button...)
*******************************************************************************/

/*******************************************************************************
* 9. Tables
*******************************************************************************/

/*******************************************************************************
* 10. Phrasing (strong, a, i, u, )
*******************************************************************************/

/*******************************************************************************
* 11. Misc
*******************************************************************************/
#shuffle-button{
    color: #304860;
    vertical-align: middle;
    text-align: center;
}

#moves{
    text-align: center; 
    background: #304860;
    border-radius: 5px;
}

#best{
    text-align: center; 
    background: #304860;
    border-radius: 5px;
}

.tile{
    /*layout*/
    position: absolute;
    vertical-align: middle;
    text-align: center;

    /*typography*/
    /*style*/
    color: #304848;
    /*animation*/
    -webkit-transition: all 0.5s ease-out;
    border-radius: 5px;    
    background:#A8C0D8;
}

#grid{
    position:relative;
    background: #304860;
    border-radius: 5px;
}



#tile-0{
    visibility: hidden;
}


#hurray{
    vertical-align: middle;
    text-align: center;
    color: #304848;
}


@media screen and (orientation: landscape){
    #hurray{
        font-size: 16vh; 
                margin: 0 auto auto auto;
    }

    #shuffle-button{
        font-size: 8vh;
        margin-left: 16vh;
        height: 15vh;
        width: 15vh;
        line-height:15vw;
    }

    #moves{
        float:right;
        margin-right: 1vh;
        margin-top: auto;
        height: 15vh;
        width: 15vh;
    }

    #best{
        float:right;
        margin-right: 1vh;
        margin-top: auto;
        height: 15vh;
        width: 15vh;
    }

    #grid{
        width: 65vh;
        height: 65vh;
        margin: auto;
    }


    .display-text{
        color: #A8A8A8; 
        font-size: 8vh;
    }

    .display-title{
        color: #A8A8A8; 
        font-size: 4vh;
    }

    .tile{
        line-height:15vh;
        height: 15vh;
        width: 15vh;   
        font-size: 11vh;
    }

    .tile.tile-position-1-1 {
        top:1vh; left: 1vh; }
    .tile.tile-position-1-2 {
        top:1vh; left: 17vh; }
    .tile.tile-position-1-3 {
        top:1vh; left: 33vh; }
    .tile.tile-position-1-4 {
        top:1vh; left: 49vh; }
    .tile.tile-position-2-1 {
        top:17vh; left: 1vh; }
    .tile.tile-position-2-2 {
        top:17vh; left: 17vh; }
    .tile.tile-position-2-3 {
        top:17vh; left: 33vh; }
    .tile.tile-position-2-4 {
        top:17vh; left: 49vh; }
    .tile.tile-position-3-1 {
        top:33vh; left: 1vh; }
    .tile.tile-position-3-2 {
        top:33vh; left: 17vh; }
    .tile.tile-position-3-3 {
        top:33vh; left: 33vh; }
    .tile.tile-position-3-4 {
        top:33vh; left: 49vh; }
    .tile.tile-position-4-1 {
        top:49vh; left: 1vh; }
    .tile.tile-position-4-2 {
        top:49vh; left: 17vh; }
    .tile.tile-position-4-3 {
        top:49vh; left: 33vh; }
    .tile.tile-position-4-4 {
        top:49vh; left: 49vh; }

}

@media screen and (orientation: portrait){
    #hurray{
        font-size: 16vw; 
        margin: 0 auto auto auto;
    }

    #shuffle-button{
        font-size: 8vw;
        margin-left: 16vw;
        line-height:15vw;

    }

    #grid{
        width: 65vw;
        height: 65vw;
        margin: 16vw auto;

    }

    .tile{
        height: 15vw;
        width: 15vw;   
        font-size: 11vw;
        line-height:15vw;

    }

    #moves{
        float: right;
        margin-right: 1vw;
        height: 15vw;
        width: 15vw;
    }

    #best{
        float: right;
        margin-right: 16vw;
        height: 15vw;
        width: 15vw;
    }

    .display-text{
        color: #A8A8A8; 
        font-size: 8vw;
    }

    .display-title{
        color: #A8A8A8; 
        font-size: 4vw;
    }

    .tile.tile-position-1-1 {
        top:1vw; left: 1vw; }
    .tile.tile-position-1-2 {
        top:1vw; left: 17vw; }
    .tile.tile-position-1-3 {
        top:1vw; left: 33vw; }
    .tile.tile-position-1-4 {
        top:1vw; left: 49vw; }
    .tile.tile-position-2-1 {
        top:17vw; left: 1vw; }
    .tile.tile-position-2-2 {
        top:17vw; left: 17vw; }
    .tile.tile-position-2-3 {
        top:17vw; left: 33vw; }
    .tile.tile-position-2-4 {
        top:17vw; left: 49vw; }
    .tile.tile-position-3-1 {
        top:33vw; left: 1vw; }
    .tile.tile-position-3-2 {
        top:33vw; left: 17vw; }
    .tile.tile-position-3-3 {
        top:33vw; left: 33vw; }
    .tile.tile-position-3-4 {
        top:33vw; left: 49vw; }
    .tile.tile-position-4-1 {
        top:49vw; left: 1vw; }
    .tile.tile-position-4-2 {
        top:49vw; left: 17vw; }
    .tile.tile-position-4-3 {
        top:49vw; left: 33vw; }
    .tile.tile-position-4-4 {
        top:49vw; left: 49vw; }

}


/*******************************************************************************
* 12. Animations
*******************************************************************************/
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


@-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

.bounceInUp {
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp;
}


@-webkit-keyframes bounceInUp {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 100vh, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}